/*_typography.scss*/

// @include font-face("Lato", "../type/lato/Lato", $file-formats: eot svg ttf woff);

$lato-hairline: "Lato-Hairline", sans-serif;
$lato-light: "Lato-Light", sans-serif;
$lato-regular: "Lato-Regular", sans-serif;
$lato-bold: "Lato-Bold", sans-serif;

@include font-face("Lato-Hairline", "../fonts/lato/Lato-Hairline", $file-formats: ttf);

@include font-face("Lato-Light", "../fonts/lato/Lato-Light", $file-formats: ttf);

@include font-face("Lato-Regular", "../fonts/lato/Lato-Regular", $file-formats: ttf);

@include font-face("Lato-Bold", "../fonts/lato/Lato-Bold", $file-formats: ttf);