
// color theme
$color-text-main: #494A00;
$color-text-main-rgba: rgba(73, 74, 0, 0.7);
$color-text-second: #979800;
$color-accent: #F8981C;
$color-bg-main: #C8CA00;
$color-bg-main-rgba: rgba(200, 202, 0, 0.3);
$color-bg-first: #F6F89C;
$color-bg-second: #494A00;
$color-bg-light: #F7F8CD;


body {
	background: $color-bg-main;
	color: $color-text-main;
}

.container {
	background: $color-bg-first;
}

hr {
	background: $color-bg-second;
}

a {
	&:link {
		color: $color-text-second;
	}
	&:visited {
		color: $color-text-second;
	}
	&:hover {
		color: $color-accent;
	}
	&:active {
		color: $color-accent;
	}
}

h1,
h3,
h4 {
	color: $color-text-main;
}

h2 {
	color: $color-text-second;
}

.jumbotron {
	background-color: $color-bg-light;
}

.blockquote, .blockquote-reverse {
	color: $color-text-second;
	margin-top: 1rem; 
}

.blockquote-footer {
	color: $color-text-main;
}

.blockquote {
	border-left: .25rem solid $color-text-second;
}

.blockquote-reverse {
	border-right: .25rem solid $color-text-second;
}

.logo {
	svg {
		border-radius: 10px;
		background: $color-bg-second;
		path {
			fill: $color-bg-first;
		}
	}
}

.img-wrapper {
	position: relative;
	.portfolio-btn {
		position: absolute;
	}
	&::before {
		position: absolute;
		content: "";
		background-color: $color-bg-main-rgba;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 5px;
	}
	&:hover::before {
		background-color: transparent;
		transition: all 0.5s linear;

	}

}

.owl-container {
	.owl-theme .owl-nav {
		.owl-prev, .owl-next {
			background-color: $color-text-second;
			&:hover {
				background-color: $color-text-main;
				transition: all 0.3s linear;
			}
		}
	}
}

.owl-theme .owl-dots .owl-dot span {
	background: #fff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: $color-text-second; 
	transition: all 0.2s linear;
}

.btn-outline-main {
	color: $color-text-second;
	background-image: none;
	background-color: transparent;
	border-color: $color-text-second;
}

.btn-outline-main:hover {
	color: #fff;
	background-color: $color-text-second;
	border-color: $color-text-second;
	transition: all 0.3s linear;
	cursor: pointer;
}

.btn-outline-main:focus, .btn-outline-main.focus {
	-webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
	box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-outline-main.disabled, .btn-outline-main:disabled {
	color: $color-text-second;
	background-color: transparent;
}

.btn-outline-main:active, .btn-outline-main.active,
.show > .btn-outline-main.dropdown-toggle {
	color: #fff;
	background-color: $color-text-second;
	border-color: $color-text-second;
}

.btn-main {
	color: #fff;
	background-color: $color-text-second;
	border-color: $color-text-second;
}

.btn-main:hover {
	color: #fff;
	background-color: $color-bg-second;
	border-color: $color-bg-second;
}

.btn-main:focus, .btn-main.focus {
	-webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
	box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-main.disabled, .btn-main:disabled {
	color: $color-text-main;
	background-color: transparent;
	border-color: $color-text-main;
}

.btn-main:active, .btn-main.active,
.show > .btn-main.dropdown-toggle {
	color: #fff;
	background-color: $color-bg-second;
	background-image: none;
	border-color: $color-bg-second;
}

.footer {
	background-color: $color-bg-second;
	color: $color-text-second;
}