footer.footer
  .contacts
    .row
      .col-6
        ul
          li Rybinsk, Russia
          li +7 (905) 63 444 67
          li
            a(href='#') dandgerson@gmail.com
      .col-6.text-right
        .social
          ul
            li
              a(href='#')
                i.fa.fa-github(aria-hidden='true')
            li
              a(href='#')
                i.fa.fa-facebook-official(aria-hidden='true')
            li
              a(href='#')
                i.fa.fa-codepen(aria-hidden='true')
            li
              a(href='#')
                i.fa.fa-linkedin(aria-hidden='true')
  .copyrigth
    .row
      .col
        p
          i.fa.fa-copyright
          | dandgerson 2017