header.header
  .row
    .col-5.d-flex.flex-column.flex-wrap.justify-content-center.align-items-start
      .logo
        svg(viewbox='0 0 552 552')
          path(d='m 163.01648,462.9734 c -9.50453,-1.16949 -21.11963,-4.35509 -27.42319,-7.52119 -7.89887,-3.96737 -12.31443,-8.05768 -15.332,-14.20263 l -2.80296,-5.70791 -0.26371,-175.33271 -0.26372,-175.332711 89.76372,0.45222 c 75.57333,0.380731 91.72631,0.711226 102.1785,2.090603 74.31485,9.807343 113.75984,41.785258 124.7355,101.122598 1.69567,9.1672 1.84971,16.32926 1.84971,86 0,69.67074 -0.15404,76.8328 -1.84971,86 -9.76477,52.79098 -41.90212,83.70072 -100.7355,96.88753 -23.68841,5.30947 -31.35657,5.78263 -99.41479,6.13433 -34.65,0.17905 -66.34883,-0.0865 -70.44185,-0.59013 z m 136.18038,-53.21361 c 28.5407,-5.7071 47.32782,-18.48167 57.07167,-38.80668 8.53356,-17.80045 8.1898,-13.75367 8.1898,-96.41144 0,-72.46178 -0.0165,-73.062 -2.24224,-81.4097 -3.73782,-14.01902 -8.48115,-22.38373 -18.22215,-32.13424 -10.10381,-10.11367 -19.94101,-15.52524 -35.30801,-19.4234 -15.1306,-3.83819 -26.67279,-4.53266 -75.33355,-4.53266 h -45.39405 v 137.57838 137.57839 l 51.75,-0.44561 c 41.32037,-0.35581 53.30961,-0.75748 59.48853,-1.99304 z')
      .social
        ul
          li
            a(href='#')
              i.fa.fa-github(aria-hidden='true')
          li
            a(href='#')
              i.fa.fa-facebook-official(aria-hidden='true')
          li
            a(href='#')
              i.fa.fa-codepen(aria-hidden='true')
          li
            a(href='#')
              i.fa.fa-linkedin(aria-hidden='true')
    .col-7.text-right
      h1 Dmitry Anderson
      h4 Front-end Developer / Web Designer
  .row
    .col
      hr
  .owl-container
    #headerCarousel.owl-carousel.owl-theme
      .owl-item-container
        img(src='img/bg-main.png', alt='')
      .owl-item-container
        img(src='img/bg-main-yellow.png', alt='')
      .owl-item-container
        img(src='img/bg-main-blue.png', alt='')