#portfolioCarousel.owl-carousel.owl-theme.owl-loaded.owl-drag
  .carousel-custom-item.owl-item-container
    .img-wrapper.d-flex.justify-content-center.align-items-center
      button.btn.btn-outline-main.portfolio-btn(type='button', data-toggle='modal', data-target='#modalWork1') Look
      // Modal
      #modalWork1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              img.img-fluid(src='https://placebear.com/g/820/640')
              h3 Work Title
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus nulla obcaecati blanditiis unde possimus quod id, quis. Consequatur molestias, quod, debitis inventore modi voluptas eius architecto repellendus quis, officiis aliquid earum ipsa omnis ducimus laborum vero rem porro dignissimos eveniet molestiae aliquam in similique. Soluta eligendi reiciendis fugiat officia iste iusto quidem doloribus quod dolore at, ipsum quisquam ea temporibus architecto nemo quo exercitationem corrupti fuga. Delectus fugiat optio cumque adipisci, ab omnis quia facilis! Minus porro consequuntur commodi soluta dignissimos laboriosam deleniti! Impedit quasi totam quas numquam vero molestias sed, ad corrupti, culpa, sunt sapiente, quo sit obcaecati.
      img.img-fluid(src='https://placebear.com/g/410/320')
    h3 Work Title
    a(data-toggle='modal', data-target='#modalWork1', href='#') Work link
  .carousel-custom-item.owl-item-container
    .img-wrapper.d-flex.justify-content-center.align-items-center
      button.btn.btn-outline-main.portfolio-btn(type='button', data-toggle='modal', data-target='#modalWork1') Look
      // Modal
      #modalWork1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              img.img-fluid(src='https://placebear.com/g/820/640')
              h3 Work Title
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus nulla obcaecati blanditiis unde possimus quod id, quis. Consequatur molestias, quod, debitis inventore modi voluptas eius architecto repellendus quis, officiis aliquid earum ipsa omnis ducimus laborum vero rem porro dignissimos eveniet molestiae aliquam in similique. Soluta eligendi reiciendis fugiat officia iste iusto quidem doloribus quod dolore at, ipsum quisquam ea temporibus architecto nemo quo exercitationem corrupti fuga. Delectus fugiat optio cumque adipisci, ab omnis quia facilis! Minus porro consequuntur commodi soluta dignissimos laboriosam deleniti! Impedit quasi totam quas numquam vero molestias sed, ad corrupti, culpa, sunt sapiente, quo sit obcaecati.
      img.img-fluid(src='https://placebear.com/g/410/320')
    h3 Work Title
    a(data-toggle='modal', data-target='#modalWork1', href='#') Work link
  .carousel-custom-item.owl-item
    .img-wrapper.d-flex.justify-content-center.align-items-center
      button.btn.btn-outline-main.portfolio-btn(type='button', data-toggle='modal', data-target='#modalWork1') Look
      // Modal
      #modalWork1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              img.img-fluid(src='https://placebear.com/g/820/640')
              h3 Work Title
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus nulla obcaecati blanditiis unde possimus quod id, quis. Consequatur molestias, quod, debitis inventore modi voluptas eius architecto repellendus quis, officiis aliquid earum ipsa omnis ducimus laborum vero rem porro dignissimos eveniet molestiae aliquam in similique. Soluta eligendi reiciendis fugiat officia iste iusto quidem doloribus quod dolore at, ipsum quisquam ea temporibus architecto nemo quo exercitationem corrupti fuga. Delectus fugiat optio cumque adipisci, ab omnis quia facilis! Minus porro consequuntur commodi soluta dignissimos laboriosam deleniti! Impedit quasi totam quas numquam vero molestias sed, ad corrupti, culpa, sunt sapiente, quo sit obcaecati.
      img.img-fluid(src='https://placebear.com/g/410/320')
    h3 Work Title
    a(data-toggle='modal', data-target='#modalWork1', href='#') Work link
  .carousel-custom-item.owl-item-container
    .img-wrapper.d-flex.justify-content-center.align-items-center
      button.btn.btn-outline-main.portfolio-btn(type='button', data-toggle='modal', data-target='#modalWork1') Look
      // Modal
      #modalWork1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              img.img-fluid(src='https://placebear.com/g/820/640')
              h3 Work Title
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus nulla obcaecati blanditiis unde possimus quod id, quis. Consequatur molestias, quod, debitis inventore modi voluptas eius architecto repellendus quis, officiis aliquid earum ipsa omnis ducimus laborum vero rem porro dignissimos eveniet molestiae aliquam in similique. Soluta eligendi reiciendis fugiat officia iste iusto quidem doloribus quod dolore at, ipsum quisquam ea temporibus architecto nemo quo exercitationem corrupti fuga. Delectus fugiat optio cumque adipisci, ab omnis quia facilis! Minus porro consequuntur commodi soluta dignissimos laboriosam deleniti! Impedit quasi totam quas numquam vero molestias sed, ad corrupti, culpa, sunt sapiente, quo sit obcaecati.
      img.img-fluid(src='https://placebear.com/g/410/320')
    h3 Work Title
    a(data-toggle='modal', data-target='#modalWork1', href='#') Work link
  .carousel-custom-item.owl-item
    .img-wrapper.d-flex.justify-content-center.align-items-center
      button.btn.btn-outline-main.portfolio-btn(type='button', data-toggle='modal', data-target='#modalWork1') Look
      // Modal
      #modalWork1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              img.img-fluid(src='https://placebear.com/g/820/640')
              h3 Work Title
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus nulla obcaecati blanditiis unde possimus quod id, quis. Consequatur molestias, quod, debitis inventore modi voluptas eius architecto repellendus quis, officiis aliquid earum ipsa omnis ducimus laborum vero rem porro dignissimos eveniet molestiae aliquam in similique. Soluta eligendi reiciendis fugiat officia iste iusto quidem doloribus quod dolore at, ipsum quisquam ea temporibus architecto nemo quo exercitationem corrupti fuga. Delectus fugiat optio cumque adipisci, ab omnis quia facilis! Minus porro consequuntur commodi soluta dignissimos laboriosam deleniti! Impedit quasi totam quas numquam vero molestias sed, ad corrupti, culpa, sunt sapiente, quo sit obcaecati.
      img.img-fluid(src='https://placebear.com/g/410/320')
    h3 Work Title
    a(data-toggle='modal', data-target='#modalWork1', href='#') Work link
  .carousel-custom-item.owl-item-container
    .img-wrapper.d-flex.justify-content-center.align-items-center
      button.btn.btn-outline-main.portfolio-btn(type='button', data-toggle='modal', data-target='#modalWork1') Look
      // Modal
      #modalWork1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              img.img-fluid(src='https://placebear.com/g/820/640')
              h3 Work Title
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus nulla obcaecati blanditiis unde possimus quod id, quis. Consequatur molestias, quod, debitis inventore modi voluptas eius architecto repellendus quis, officiis aliquid earum ipsa omnis ducimus laborum vero rem porro dignissimos eveniet molestiae aliquam in similique. Soluta eligendi reiciendis fugiat officia iste iusto quidem doloribus quod dolore at, ipsum quisquam ea temporibus architecto nemo quo exercitationem corrupti fuga. Delectus fugiat optio cumque adipisci, ab omnis quia facilis! Minus porro consequuntur commodi soluta dignissimos laboriosam deleniti! Impedit quasi totam quas numquam vero molestias sed, ad corrupti, culpa, sunt sapiente, quo sit obcaecati.
      img.img-fluid(src='https://placebear.com/g/410/320')
    h3 Work Title
    a(data-toggle='modal', data-target='#modalWork1', href='#') Work link
  .carousel-custom-item.owl-item-container
    .img-wrapper.d-flex.justify-content-center.align-items-center
      button.btn.btn-outline-main.portfolio-btn(type='button', data-toggle='modal', data-target='#modalWork1') Look
      // Modal
      #modalWork1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              img.img-fluid(src='https://placebear.com/g/820/640')
              h3 Work Title
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus nulla obcaecati blanditiis unde possimus quod id, quis. Consequatur molestias, quod, debitis inventore modi voluptas eius architecto repellendus quis, officiis aliquid earum ipsa omnis ducimus laborum vero rem porro dignissimos eveniet molestiae aliquam in similique. Soluta eligendi reiciendis fugiat officia iste iusto quidem doloribus quod dolore at, ipsum quisquam ea temporibus architecto nemo quo exercitationem corrupti fuga. Delectus fugiat optio cumque adipisci, ab omnis quia facilis! Minus porro consequuntur commodi soluta dignissimos laboriosam deleniti! Impedit quasi totam quas numquam vero molestias sed, ad corrupti, culpa, sunt sapiente, quo sit obcaecati.
      img.img-fluid(src='https://placebear.com/g/410/320')
    h3 Work Title
    a(data-toggle='modal', data-target='#modalWork1', href='#') Work link
  .carousel-custom-item.owl-item-container
    .img-wrapper.d-flex.justify-content-center.align-items-center
      button.btn.btn-outline-main.portfolio-btn(type='button', data-toggle='modal', data-target='#modalWork1') Look
      // Modal
      #modalWork1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              img.img-fluid(src='https://placebear.com/g/820/640')
              h3 Work Title
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus nulla obcaecati blanditiis unde possimus quod id, quis. Consequatur molestias, quod, debitis inventore modi voluptas eius architecto repellendus quis, officiis aliquid earum ipsa omnis ducimus laborum vero rem porro dignissimos eveniet molestiae aliquam in similique. Soluta eligendi reiciendis fugiat officia iste iusto quidem doloribus quod dolore at, ipsum quisquam ea temporibus architecto nemo quo exercitationem corrupti fuga. Delectus fugiat optio cumque adipisci, ab omnis quia facilis! Minus porro consequuntur commodi soluta dignissimos laboriosam deleniti! Impedit quasi totam quas numquam vero molestias sed, ad corrupti, culpa, sunt sapiente, quo sit obcaecati.
      img.img-fluid(src='https://placebear.com/g/410/320')
    h3 Work Title
    a(data-toggle='modal', data-target='#modalWork1', href='#') Work link
  .carousel-custom-item.owl-item-container
    .img-wrapper.d-flex.justify-content-center.align-items-center
      button.btn.btn-outline-main.portfolio-btn(type='button', data-toggle='modal', data-target='#modalWork1') Look
      // Modal
      #modalWork1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              img.img-fluid(src='https://placebear.com/g/820/640')
              h3 Work Title
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus nulla obcaecati blanditiis unde possimus quod id, quis. Consequatur molestias, quod, debitis inventore modi voluptas eius architecto repellendus quis, officiis aliquid earum ipsa omnis ducimus laborum vero rem porro dignissimos eveniet molestiae aliquam in similique. Soluta eligendi reiciendis fugiat officia iste iusto quidem doloribus quod dolore at, ipsum quisquam ea temporibus architecto nemo quo exercitationem corrupti fuga. Delectus fugiat optio cumque adipisci, ab omnis quia facilis! Minus porro consequuntur commodi soluta dignissimos laboriosam deleniti! Impedit quasi totam quas numquam vero molestias sed, ad corrupti, culpa, sunt sapiente, quo sit obcaecati.
      img.img-fluid(src='https://placebear.com/g/410/320')
    h3 Work Title
    a(data-toggle='modal', data-target='#modalWork1', href='#') Work link
  .carousel-custom-item.owl-item-container
    .img-wrapper.d-flex.justify-content-center.align-items-center
      button.btn.btn-outline-main.portfolio-btn(type='button', data-toggle='modal', data-target='#modalWork1') Look
      // Modal
      #modalWork1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              img.img-fluid(src='https://placebear.com/g/820/640')
              h3 Work Title
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus nulla obcaecati blanditiis unde possimus quod id, quis. Consequatur molestias, quod, debitis inventore modi voluptas eius architecto repellendus quis, officiis aliquid earum ipsa omnis ducimus laborum vero rem porro dignissimos eveniet molestiae aliquam in similique. Soluta eligendi reiciendis fugiat officia iste iusto quidem doloribus quod dolore at, ipsum quisquam ea temporibus architecto nemo quo exercitationem corrupti fuga. Delectus fugiat optio cumque adipisci, ab omnis quia facilis! Minus porro consequuntur commodi soluta dignissimos laboriosam deleniti! Impedit quasi totam quas numquam vero molestias sed, ad corrupti, culpa, sunt sapiente, quo sit obcaecati.
      img.img-fluid(src='https://placebear.com/g/410/320')
    h3 Work Title
    a(data-toggle='modal', data-target='#modalWork1', href='#') Work link
  .carousel-custom-item.owl-item-container
    .img-wrapper.d-flex.justify-content-center.align-items-center
      button.btn.btn-outline-main.portfolio-btn(type='button', data-toggle='modal', data-target='#modalWork1') Look
      // Modal
      #modalWork1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              img.img-fluid(src='https://placebear.com/g/820/640')
              h3 Work Title
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus nulla obcaecati blanditiis unde possimus quod id, quis. Consequatur molestias, quod, debitis inventore modi voluptas eius architecto repellendus quis, officiis aliquid earum ipsa omnis ducimus laborum vero rem porro dignissimos eveniet molestiae aliquam in similique. Soluta eligendi reiciendis fugiat officia iste iusto quidem doloribus quod dolore at, ipsum quisquam ea temporibus architecto nemo quo exercitationem corrupti fuga. Delectus fugiat optio cumque adipisci, ab omnis quia facilis! Minus porro consequuntur commodi soluta dignissimos laboriosam deleniti! Impedit quasi totam quas numquam vero molestias sed, ad corrupti, culpa, sunt sapiente, quo sit obcaecati.
      img.img-fluid(src='https://placebear.com/g/410/320')
    h3 Work Title
    a(data-toggle='modal', data-target='#modalWork1', href='#') Work link
  .carousel-custom-item.owl-item-container
    .img-wrapper.d-flex.justify-content-center.align-items-center
      button.btn.btn-outline-main.portfolio-btn(type='button', data-toggle='modal', data-target='#modalWork1') Look
      // Modal
      #modalWork1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              img.img-fluid(src='https://placebear.com/g/820/640')
              h3 Work Title
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus nulla obcaecati blanditiis unde possimus quod id, quis. Consequatur molestias, quod, debitis inventore modi voluptas eius architecto repellendus quis, officiis aliquid earum ipsa omnis ducimus laborum vero rem porro dignissimos eveniet molestiae aliquam in similique. Soluta eligendi reiciendis fugiat officia iste iusto quidem doloribus quod dolore at, ipsum quisquam ea temporibus architecto nemo quo exercitationem corrupti fuga. Delectus fugiat optio cumque adipisci, ab omnis quia facilis! Minus porro consequuntur commodi soluta dignissimos laboriosam deleniti! Impedit quasi totam quas numquam vero molestias sed, ad corrupti, culpa, sunt sapiente, quo sit obcaecati.
      img.img-fluid(src='https://placebear.com/g/410/320')
    h3 Work Title
    a(data-toggle='modal', data-target='#modalWork1', href='#') Work link
