doctype html
html(lang='en')
  include includes/head
  body
    .container
      include includes/header
      section.main-content
        .row
          .col
            .jumbotron
              h1.display-3 Hello ; )
              blockquote.blockquote
                p.lead Am I doing my best work? If I can't answer yes, I can't sleep.
                footer.blockquote-footer.text-right
                  | Someone famous in 
                  cite(title='Source Title')
                    a(href='#') Source Title
              hr.my-4
              p Hello, I’m Dmitry Anderson. Frontend developer, designer and lifelong learner.
              p
                | I bring the rigor. Five years of experience as an industrial automation engineer programming industrial utilities and HVAC for the FDA regulated pharmaceutical industry have taught me the value of deeply understanding my code and doing it right the first time. I bring this mentality to web development as well.
              .jumbotron-control
                button.btn.btn-outline-main.btn-lg(data-toggle='modal', data-target='#modalAbout', href='#', role='button') Learn more
                button.btn.btn-main.btn-lg(data-toggle='modal', data-target='#modalHire', href='#', role='button') Hire me for a project
              include includes/modal_about
              include includes/modal_hire
      section.portfolio
        .row
          .col
            h2 Feature Work
        .portfolio-content
          include includes/portfolio-content
        .owl-container
          include includes/owl-container
      include includes/footer
    // Optional JavaScript
    // build:js js/libraries.min.js
    script(src='components/jquery/dist/jquery.js')
    script(src='components/popper.js/dist/umd/popper.js')
    script(src='components/bootstrap/dist/js/bootstrap.js')
    script(src='components/owl.carousel/dist/owl.carousel.js')
    script(src='components/jquery-mousewheel/jquery.mousewheel.min.js')
    // endbuild
    //- script(src='js/jQueryTest.js')
    script(src='js/app.js')