// add your custom styles here
// to learn more about SASS, visit sass-lang.com

.logo {
	margin-top: 1rem;
	svg {
		height: 120px;
		width: 120px;
	}
}

.main-img {
	margin-top: 2.1rem;
}

.portfolio-content {
	margin-top: 1.2rem;
}

.social {
	ul,
	li {
		list-style-type: none;
		display: inline-block;
	}
	a {
		display: block;
		margin-left: 0.5rem;
		font-size: 2rem;
	}
}

.footer {
	margin-top: 2.3rem;
}
